html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, "Trebuchet MS", Helvetica;
    width: 99%;
    margin: 0;
    font-size: 90%;
}
a, a:visited, a:active {
    text-decoration: none;
    color: #105cb6;
}
a:hover {
        color: #000033;
}
div.content {
    margin: 15px;
}
div.username {
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: bold;
    font-size: 80%;
}
form {
    margin-top: 5px;
}
table {
    width: 100%;
    border: 1px solid #333;
    border-collapse: collapse;
    -moz-border-radius: 5px;
}
table tr.l {
    background-color: #eee;
}
input#comment {
    width: 200px;
}
input#lockcomment {
    width: 200px;
}
textarea {
    margin: 5px;
    width: 100%;
    height: 50px;
}
a.rollback {
    font-size: 75%;
}
table thead tr td {
    font-weight: bold;
    font-size: 80%;
}
table thead tr {
    background-color: #eee;
}
table td {
    padding: 5px;
}
table tbody tr {
    border-top: 1px solid #ccc;
}
h1 {
    font-size: 150%;
    font-weight: normal;
    text-align: left;
    color: #666;
}
h2 {
    font-size: 130%;
    color: #666;
    font-weight: normal;
    text-align: left;
}
h3 {
    font-size: 105%;
    color: #666;
    text-align: left;
}
div.diff {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    overflow: auto;
    max-height: 800px;
}
span.added {
    color: #4070aa;
}
span.removed {
    color: #aa5555;
}
span.file {
    font-weight: bold;
}
div.copy {
    color: #aaa;
    font-size: 75%;
    margin: 20px 0 10px 0;
}
