html, body, div.content {
    width: 100%;
}
body {
    font-family: Verdana, "Trebuchet MS", Helvetica;
    margin: 0;
}
table {
    width: 100%;
    border: 1px solid #666;
    border-collapse: collapse;
}
textarea {
    margin: 5px;
    width: 100%;
    height: 50px;
}
table thead tr td {
    font-weight: bold;
}
table thead tr {
    border: 1px solid #333;
    background-color: #eee;
}
table tbody td {
    padding: 5px;
}
table tbody tr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
h1 {
    font-size: 150%;
    font-weight: normal;
    text-align: left;
    color: #666;
}
h2 {
    font-size: 130%;
    color: #666;
    font-weight: normal;
    text-align: left;
}
h3 {
    font-size: 105%;
    color: #666;
    text-align: left;
}

